<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление товарами и категориями</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
    <div class="container">

    </div>
</header>

<main>
    <div class="management">
        <div class="management-title">
            <h2>Управление товарами и категориями</h2>
            <p>Здесь вы можете управлять товарами и категориями системы.</p>
        </div>

        <div class="management-actions">
            <div class="button-container">
                <button class="dashboard-item" onclick="loadCategories()">Получить список категорий</button>
            </div>
            <div class="button-container">
                <button class="dashboard-item" onclick="showAddCategoryForm()">Добавить категорию</button>
            </div>
        </div>


        <div class="table-container" id="categoriesTableContainer" style="display:none; margin-top: 20px;">

            <!-- Поиск и сортировка внутри таблицы -->
            <!--            <div class="filter-container">-->
            <!--                <input type="text" id="categorySearch" placeholder="Поиск по категории" oninput="applyFilters()">-->
            <!--                <input type="number" id="markupSearch" placeholder="Поиск по наценке" step="0.01" min="0" oninput="applyFilters()">-->
            <!--            </div>-->

            <!--            <div class="sort-container">-->
            <!--                <label for="categorySort">Сортировать по:</label>-->
            <!--                <select id="categorySort" onchange="applyFilters()">-->
            <!--                    <option value="">Выберите</option>-->
            <!--                    <option value="name_asc">Название (А-Я)</option>-->
            <!--                    <option value="name_desc">Название (Я-А)</option>-->
            <!--                    <option value="markup_asc">Наценка (по возрастанию)</option>-->
            <!--                    <option value="markup_desc">Наценка (по убыванию)</option>-->
            <!--                </select>-->
            <!--            </div>-->


            <table id="table">
                <thead>
                <tr>
                    <th><input type="text" id="categorySearch" placeholder="Поиск по названию" oninput="applyFilters()">
                    </th>
                    <th><input type="number" id="markupSearch" placeholder="Поиск по наценке" step="0.01" min="0"
                               oninput="applyFilters()"></th>
                    <th>
                        <div class="sort-container">
                            <label for="categorySort">Сортировать по:</label>
                            <select id="categorySort" onchange="applyFilters()">
                                <option value="">Выберите</option>
                                <option value="name_asc">Название (А-Я)</option>
                                <option value="name_desc">Название (Я-А)</option>
                                <option value="markup_asc">Наценка (по возрастанию)</option>
                                <option value="markup_desc">Наценка (по убыванию)</option>
                            </select>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Название категории</th>
                    <th>Процент наценки</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="pagination" id="categoriesPagination">
                <button onclick="prevCategoriesPage()">Назад</button>
                <span id="categoriesPageInfo">Страница 1</span>
                <button onclick="nextCategoriesPage()">Вперед</button>
            </div>

            <div class="page-size-selector">
                <button onclick="setCategoriesPerPage(10)">10</button>
                <button onclick="setCategoriesPerPage(30)">30</button>
                <button onclick="setCategoriesPerPage(90)">90</button>
            </div>

            <button class="hide-table-btn" onclick="toggleCategoriesTableVisibility()">Скрыть таблицу</button>
        </div>

        <div class="add-category-form" id="addCategoryForm" style="display:none;">
            <h3>Добавить категорию</h3>
            <form id="addCategoryFormElement">
                <label for="addCategoryName">Название категории:</label>
                <input type="text" id="addCategoryName" required>
                <label for="addMarkupPercentage">Процент наценки:</label>
                <input type="number" id="addMarkupPercentage" required step="0.01" min="0" max="100">
                <button type="button" onclick="addCategory()">Добавить категорию</button>
                <button type="button" onclick="cancelAddCategory()">Отмена</button>
            </form>
        </div>
        <div class="edit-category-form" id="editCategoryForm" style="display:none;">
            <h3>Редактировать категорию</h3>
            <form id="editCategoryFormElement">
                <input type="hidden" id="editCategoryId">

                <label for="editCategoryName">Название категории:</label>
                <input type="text" id="editCategoryName" required>

                <label for="editMarkupPercentage">Процент наценки:</label>
                <input type="number" id="editMarkupPercentage" required step="0.01" min="0" max="100">

                <!-- Обновляем эту часть, чтобы чекбокс был рядом с текстом -->
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="editNeedRecalculation">
                    <label for="editNeedRecalculation">Обновить процент наценки для товаров в этой категории:</label>
                </div>

                <button type="button" onclick="updateCategory()">Обновить категорию</button>
                <button type="button" onclick="cancelEditCategory()">Отмена</button>
            </form>
        </div>
        <div id="confirmDeleteModal" style="display: none;">
            <div class="modal-content">
                <p id="modalMessage">Есть остатки товаров. Для удаления категории, нужно списать товары.</p>
                <button type="button" id="writeOffGoodsBtn">Списать товары</button>
                <button type="button" id="cancelDeleteBtn">Отмена</button>
            </div>
        </div>

    </div>


</main>

<footer>
    <p>&copy; 2024 Система управления товарами и категориями</p>
</footer>
<script>
    let currentCategoriesPage = 0;
    let categoriesPerPage = 10;
    let totalCategoriesPages = 1;

    function applyFilters() {
        const categorySearch = document.getElementById('categorySearch').value;
        const markupSearch = document.getElementById('markupSearch').value;
        const sortOption = document.getElementById('categorySort').value;

        loadCategories(categorySearch, markupSearch, sortOption);
    }

    function loadCategories(name = '', markupPercentage = '', sort = '') {
        const url = `/category/list?page=${currentCategoriesPage}&size=${categoriesPerPage}&name=${name}&markupPercentage=${markupPercentage}&sort=${sort}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.querySelector('#table tbody');
                tableBody.innerHTML = '';

                data.content.forEach(category => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                    <td>${category.name}</td>
                    <td>${category.markupPercentage}%</td>
                    <td>
                        <a href="#" onclick="showEditCategoryForm('${category.id}', '${category.name}', ${category.markupPercentage})">Редактировать</a>
                        <a href="#" onclick="deleteCategoryById('${category.id}')">Удалить</a>
                    </td>
                `;
                    tableBody.appendChild(row);
                });

                document.getElementById('categoriesPageInfo').textContent = `Страница ${data.number + 1} из ${data.totalPages}`;
                currentCategoriesPage = data.number;
                totalCategoriesPages = data.totalPages;
                document.getElementById('categoriesTableContainer').style.display = 'block';
            })
            .catch(error => console.error('Ошибка при получении категорий:', error));
    }

    function prevCategoriesPage() {
        if (currentCategoriesPage > 0) {
            currentCategoriesPage--;
            loadCategories();
        }
    }

    function nextCategoriesPage() {
        if (currentCategoriesPage < totalCategoriesPages - 1) {
            currentCategoriesPage++;
            loadCategories();
        }
    }

    function setCategoriesPerPage(size) {
        categoriesPerPage = size;
        currentCategoriesPage = 0;
        loadCategories();
    }

    function toggleCategoriesTableVisibility() {
        const tableContainer = document.getElementById('categoriesTableContainer');
        tableContainer.style.display = tableContainer.style.display === 'none' ? 'block' : 'none';
    }


    function showAddCategoryForm() {
        document.getElementById('addCategoryForm').style.display = 'block';
    }

    function cancelAddCategory() {
        document.getElementById('addCategoryForm').style.display = 'none';
    }

    function addCategory() {
        const newCategory = {
            name: document.getElementById('addCategoryName').value,
            markupPercentage: parseFloat(document.getElementById('addMarkupPercentage').value) // Добавляем процент наценки
        };

        fetch('/category/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(newCategory)
        })
            .then(response => {
                if (response.ok) {
                    alert('Категория успешно добавлена.');
                    loadCategories();
                    cancelAddCategory();
                } else {
                    alert('Ошибка при добавлении категории.');
                }
            })
            .catch(error => {
                console.error('Ошибка при добавлении категории:', error);
            });
    }

    // Функция для удаления категории с подтверждением
    function deleteCategoryById(categoryId) {
        const confirmation = confirm('Вы уверены, что хотите удалить эту категорию?');
        if (confirmation) {
            fetch(`/category/delete?id=${categoryId}`, {  // Путь должен совпадать с серверной логикой
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        alert('Категория удалена.');
                        loadCategories();  // Обновляем список категорий
                    } else if (response.status === 409) {
                        // Если сервер вернул статус 409, показываем модальное окно с сообщением
                        response.text().then(message => {
                            showConfirmDeleteModal(message);  // Показать модальное окно с сообщением
                        });
                    } else {
                        alert('Ошибка при удалении категории.');
                    }
                })
                .catch(error => {
                    console.error('Ошибка при удалении категории:', error);
                });
        }
    }

    // Функция для отображения модального окна с сообщением
    function showConfirmDeleteModal(message) {
        const modal = document.getElementById('confirmDeleteModal');
        const modalMessage = document.getElementById('modalMessage');  // Элемент для сообщения
        const writeOffButton = document.getElementById('writeOffGoodsBtn');  // Кнопка списания товаров

        // Устанавливаем сообщение в модальном окне
        modalMessage.innerText = message;

        // Показываем модальное окно
        modal.style.display = 'flex';

        // Убедимся, что кнопка для списания товаров доступна
        writeOffButton.style.display = 'block';
    }

    // Функция для скрытия модального окна
    function hideConfirmDeleteModal() {
        const modal = document.getElementById('confirmDeleteModal');
        modal.style.display = 'none'; // Скрываем модальное окно
    }

    // Перенаправление на страницу списания товаров при нажатии кнопки
    document.getElementById('writeOffGoodsBtn').addEventListener('click', function () {
        window.location.href = '/write-off-goods'; // Перенаправление на страницу списания товаров
    });

    // Закрытие модального окна при нажатии кнопки Отмена
    document.getElementById('cancelDeleteBtn').addEventListener('click', function () {
        hideConfirmDeleteModal(); // Закрыть окно
    });

    function showEditCategoryForm(id, name, markupPercentage) {
        document.getElementById('editCategoryId').value = id;
        document.getElementById('editCategoryName').value = name;
        document.getElementById('editMarkupPercentage').value = markupPercentage;
        document.getElementById('editCategoryForm').style.display = 'block';
    }

    function cancelEditCategory() {
        document.getElementById('editCategoryForm').style.display = 'none';
    }

    function updateCategory() {
        const updatedCategory = {
            id: document.getElementById('editCategoryId').value,
            name: document.getElementById('editCategoryName').value,
            markupPercentage: parseFloat(document.getElementById('editMarkupPercentage').value),
        };

        const needRecalculation = document.getElementById('editNeedRecalculation').checked;

        const request = {
            categoryDto: updatedCategory,
            needRecalculation: needRecalculation
        };

        fetch('/category/change', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(request)
        })
            .then(response => {
                if (response.ok) {
                    alert('Категория обновлена.');
                    loadCategories();
                    cancelEditCategory();
                } else {
                    alert('Ошибка при обновлении категории.');
                }
            })
            .catch(error => {
                console.error('Ошибка при обновлении категории:', error);
            });
    }

</script>