<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление пользователями</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>

<header>
    <div class="container">
        <h1 class="logo"><i class="fa fa-users"></i>Управления пользователями</h1>
        <nav class="navbar">
            <nav class="navbar">
                <a href="/" class="active"><i class="fas fa-home"></i> Главная</a>
                <a href="/logout"><i class="fas fa-sign-out-alt"></i> Выйти</a>
            </nav>
        </nav>
    </div>
</header>

<main>
    <div class="management">
        <div class="management-title">
            <h2>Управление пользователями</h2>
            <p>Здесь вы можете управлять пользователями системы.</p>
        </div>

        <div class="management-actions">
            <div class="button-container">
                <button class="management-item" onclick="loadUsers()">
                    <i class="fa fa-users"></i> Получить список пользователей
                    <span class="management-tooltip">Загрузить список пользователей из базы данных</span>
                </button>
            </div>

            <div class="button-container">
                <button class="management-item" onclick="showAddUserForm()">
                    <i class="fa fa-user-plus"></i> Добавить пользователя
                    <span class="management-tooltip">Добавить нового пользователя в систему</span>
                </button>
            </div>
        </div>

        <div class="table-container" id="userTableContainer" style="display:none; margin-top: 20px;">
            <h3>Список пользователей</h3>
            <table id="table">
                <thead>
                <tr>
                    <th>
                        <div class="input-with-reset">
                            <input type="text" id="nameSearch" placeholder="Поиск по имени"
                                   oninput="applyFilters()">
                            <button type="button" onclick="resetInput('nameSearch')" class="reset-button">&#10006;
                            </button>
                        </div>
                    </th>
                    <th>

                        <div class="input-with-reset">
                            <input type="text" id="surnameSearch" placeholder="Поиск по фамилии"
                                   oninput="applyFilters()">
                            <button type="button" onclick="resetInput('surnameSearch')" class="reset-button">&#10006;
                            </button>
                        </div>
                    </th>
                    <th>
                        <div class="input-with-reset">
                            <input type="text" id="positionSearch" placeholder="Поиск по должности"
                                   oninput="applyFilters()">
                            <button type="button" onclick="resetInput('positionSearch')" class="reset-button">&#10006;
                            </button>
                        </div>
                    </th>
                    <th>
                        <div class="input-with-reset">
                            <input type="text" id="emailSearch" placeholder="Поиск по Email" oninput="applyFilters()">
                            <button type="button" onclick="resetInput('emailSearch')" class="reset-button">&#10006;
                            </button>
                        </div>
                    </th>

                    <th>
                        <div class="sort-container">
                            <label for="usersSort">Сортировать по:</label>
                            <select id="usersSort" onchange="applyFilters()">
                                <option value="">Выберите</option>
                                <option value="name_asc">Имя (А-Я)</option>
                                <option value="name_desc">Имя (Я-А)</option>
                                <option value="surname_asc">Фамилия (А-Я)</option>
                                <option value="surname_desc">Фамилия (Я-А)</option>
                                <option value="position_asc"> Должность (А-Я)</option>
                                <option value="position_desc">Должность (Я-А)</option>
                                <option value="email_asc"> Email (по возрастанию)</option>
                                <option value="email_desc">Email (по убыванию)</option>
                            </select>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Должность</th>
                    <th>Email</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="pagination" id="categoriesPagination">
                <button onclick="prevPage()">Назад</button>
                <span id="goodsPageInfo">Страница 1</span>
                <button onclick="nextPage()">Вперед</button>
            </div>

            <div class="page-size-selector">
                <button onclick="setAmountPerPage(10)">10</button>
                <button onclick="setAmountPerPage(30)">30</button>
                <button onclick="setAmountPerPage(90)">90</button>
            </div>
            <div class="hide-table-btn-container">
                <button class="hide-table-btn" onclick="toggleTableVisibility()">Скрыть таблицу</button>
            </div>
        </div>
    </div>

    <div class="add-form" id="addUserForm" style="display:none;">
        <h3>Добавить пользователя</h3>
        <form id="addUserFormElement">
            <div class="form-container">
                <label for="addName">Имя:</label>
                <input type="text" id="addName" required>

                <label for="addSurname">Фамилия:</label>
                <input type="text" id="addSurname" required>

                <label for="addPosition">Должность:</label>
                <select id="addPosition" required>
                    <option value="ADMIN">Администратор</option>
                    <option value="STOREKEEPER">Кладовщик</option>
                    <option value="MANAGER">Менеджер</option>
                </select>

                <label for="addEmail">Email:</label>
                <input type="email" id="addEmail" required>

                <label for="addPassword">Пароль:</label>
                <input type="password" id="addPassword" required>
            </div>

            <div class="form-buttons">
                <button type="button" class="btn-success" onclick="addUser()">Добавить пользователя</button>
                <button type="button" class="btn-danger" onclick="cancelAdd()">Отмена</button>
            </div>
        </form>
    </div>

    <div class="edit-form" id="editUserForm" style="display:none;">
        <h3>Редактировать пользователя</h3>
        <form id="editUserFormElement">
            <div class="form-container">
                <label for="editName">Имя:</label>
                <input type="text" id="editName" required>

                <label for="editSurname">Фамилия:</label>
                <input type="text" id="editSurname" required>

                <label for="editPosition">Должность:</label>
                <select id="editPosition" required>
                    <option value="ADMIN">Администратор</option>
                    <option value="STOREKEEPER">Кладовщик</option>
                    <option value="MANAGER">Менеджер</option>
                </select>

                <label for="editEmail">Email:</label>
                <input type="email" id="editEmail" readonly>

                <label for="editPassword">Новый пароль:</label>
                <input type="password" id="editPassword">
            </div>

            <div class="form-buttons">
                <button type="button" class="btn-success" onclick="saveUserChanges()">Сохранить изменения</button>
                <button type="button" class="btn-danger" onclick="cancelEdit()">Отмена</button>
            </div>
        </form>
    </div>
    <button onclick="window.location.href='/'" class="back-to-main-btn">Вернуться на главную</button>
</main>

<footer>
    <p>&copy; 2024 Система управления складом</p>
</footer>
</body>
</html>

<script>
    let currentPage = 0;
    let amountPerPage = 10;
    let totalPages = 1;

    function applyFilters() {
        const nameSearch = document.getElementById('nameSearch').value;
        const surnameSearch = document.getElementById('surnameSearch').value;
        const positionSearch = document.getElementById('positionSearch').value;
        const emailSearch = document.getElementById('emailSearch').value;
        const sortOption = document.getElementById('usersSort').value;

        loadUsers(nameSearch, surnameSearch, positionSearch, emailSearch, sortOption);
    }

    function loadUsers(name = '', surname = '', position = '', email = '', sort = '') {
        const url = `/admin/users/page?page=${currentPage}&size=${amountPerPage}&name=${encodeURIComponent(name)}&surname=${encodeURIComponent(surname)}&position=${encodeURIComponent(position)}&email=${encodeURIComponent(email)}&sort=${encodeURIComponent(sort)}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.querySelector('#table tbody');
                tableBody.innerHTML = '';

                data.content.forEach(user => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                            <td>${user.name}</td>
                            <td>${user.surname}</td>
                            <td>${user.position}</td>
                             <td>${user.email}</td>
                             <td>
                                  <a href="#" onclick="editUserByEmail('${user.email}')">Редактировать</a> |
                                  <a href="#" onclick="deleteUserByEmail('${user.email}')">Удалить</a>
                            </td>
                            `;
                    tableBody.appendChild(row);
                });

                document.getElementById('goodsPageInfo').textContent = `Страница ${data.number + 1} из ${data.totalPages}`;
                currentPage = data.number;
                totalPages = data.totalPages;

                document.getElementById('userTableContainer').style.display = 'block';
            })
            .catch(error => {
                console.error('Ошибка при получении пользователей:', error);
            });
    }

    function prevPage() {
        if (currentPage > 0) {
            currentPage--;
            loadUsers();
        }
    }

    function nextPage() {
        if (currentPage < totalPages - 1) {
            currentPage++;
            loadUsers();
        }
    }

    function setAmountPerPage(size) {
        amountPerPage = size;
        currentPage = 0;
        loadUsers();
    }

    function toggleTableVisibility() {
        const tableContainer = document.getElementById('userTableContainer');
        tableContainer.style.display = tableContainer.style.display === 'none' ? 'block' : 'none';
    }

    function showAddUserForm() {
        document.getElementById('addUserForm').style.display = 'block';
    }

    function cancelAdd() {
        document.getElementById('addUserForm').style.display = 'none';
        document.getElementById('addName').value = '';
        document.getElementById('addSurname').value = '';
        document.getElementById('addPosition').value = 'ADMIN';
        document.getElementById('addEmail').value = '';
        document.getElementById('addPassword').value = '';
    }

    function addUser() {
        const newUser = {
            name: document.getElementById('addName').value,
            surname: document.getElementById('addSurname').value,
            position: document.getElementById('addPosition').value,
            email: document.getElementById('addEmail').value,
            password: document.getElementById('addPassword').value
        };

        fetch('/admin/users/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(newUser)
        })
            .then(response => {
                if (response.ok) {
                    alert('Пользователь успешно добавлен.');
                    loadUsers();
                    cancelAdd();
                } else {
                    alert('Ошибка при добавлении пользователя.');
                }
            })
            .catch(error => {
                console.error('Ошибка при добавлении пользователя:', error);
            });
    }

    function editUserByEmail(email) {
        fetch(`/admin/users/getByEmail?email=${encodeURIComponent(email)}`)
            .then(response => response.json())
            .then(user => {
                document.getElementById('editName').value = user.name;
                document.getElementById('editSurname').value = user.surname;
                document.getElementById('editPosition').value = user.position;
                document.getElementById('editEmail').value = user.email;
                document.getElementById('editPassword').value = '';
                document.getElementById('editUserForm').style.display = 'block';
            })
            .catch(error => {
                console.error('Ошибка при загрузке данных пользователя:', error);
            });
    }

    function saveUserChanges() {
        const updatedUser = {
            name: document.getElementById('editName').value,
            surname: document.getElementById('editSurname').value,
            email: document.getElementById('editEmail').value
        };

        const position = document.getElementById('editPosition').value;
        const password = document.getElementById('editPassword').value;

        if (position) {
            updatedUser.position = position;
        }
        if (password) {
            updatedUser.password = password;
        }

        fetch('/admin/users/edit', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(updatedUser)
        })
            .then(response => {
                if (response.ok) {
                    alert('Данные пользователя успешно обновлены.');
                    loadUsers();
                    cancelEdit();
                } else {
                    alert('Ошибка при сохранении изменений.');
                }
            })
            .catch(error => {
                console.error('Ошибка при обновлении данных пользователя:', error);
            });
    }

    function cancelEdit() {
        document.getElementById('editUserForm').style.display = 'none';
    }

    function deleteUserByEmail(email) {
        if (confirm('Вы уверены, что хотите удалить пользователя?')) {
            fetch(`/admin/users/delete?email=${encodeURIComponent(email)}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        alert('Пользователь удален.');
                        loadUsers();
                    } else {
                        alert('Ошибка при удалении пользователя.');
                    }
                })
                .catch(error => {
                    console.error('Ошибка при удалении пользователя:', error);
                });
        }
    }

    function resetInput(inputId) {
        document.getElementById(inputId).value = '';
        applyFilters();
    }
</script>